/**CSS DOCUMENT*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
font-family: 'Poppins', sans-serif;
background: #fafafa;
}

.container {
    padding-top: 50px;
}

.line {
width: 100%;
height: 1px;
border-bottom: 1px dashed #f65356;
margin: 40px 0;
}

#selectFlr {
    width: 200px;
}

img {
    width: 100px;
    height: 100px;
}